<h4>Reactive <small> forms </small></h4>
<hr>
<form autocomplete="off" [formGroup]="f" (ngSubmit)="save()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Name"
               formControlName="name"
               [class.is-invalid]="nameNotValid">
               <small *ngIf="nameNotValid" class="text-danger">*Name not valid</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Surname</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Surname"
               formControlName="surname"
               [class.is-invalid]="surnameNotValid">
               <small *ngIf="surnameNotValid" class="text-danger">*Surname not valid</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="Password"
             formControlName="pass1"
             [class.is-invalid]="pass1NotValid">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repeat</label>
    <div class="col">

      <input class="form-control"
             type="password"
             placeholder="Repeat password"
             formControlName="pass2"
             [class.is-invalid]="pass2NotValid">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Email</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Email"
             formControlName="email"
             [class.is-invalid]="emailNotValid">
             <small *ngIf="emailNotValid" class="text-danger">*Email not valid</small>
    </div>
  </div>
  
  <div class="form-group row" formGroupName="address">
    <label class="col-2 col-form-label">Address</label>
    <div class="form-row col">

       <div class="col">
        <input type="text"
               class="form-control"
               placeholder="street"
               formControlName="street"
               [class.is-invalid]="streetNotValid">
       </div>

       <div class="col">
        <input type="text"
               class="form-control"
               placeholder="city"
               formControlName="city"
               [class.is-invalid]="cityNotValid">
       </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-info btn-block">
        Save
      </button>
    </div>
  </div>

  <div class="row mt-8">
    <div class="col">
      <table class="table text-info">
        <thead>
          <tr>
            <th>#</th>
            <th>Hobbies</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody formArrayName="hobbies">
          <tr *ngFor="let control of hobbies.controls; let i=index">
            <td>{{i+1}}</td>
            <td>
              <input type="text"
                     class="form-control"
                     [formControlName]="i">
            </td>
            <td>
              <button class="btn btn-danger"
                      (click)="deleteHobbie(i)"
                      >Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button class="btn btn-info mt-3 mb-5"
                  type="button"
                  (click)="addHobbie()">
                  +Add hobbie</button>
          
  

</form>

<hr>
<pre>
  Form state: {{f.valid}}
  <br>
  Status: {{f.status}}
</pre>

<pre>
  {{f.value | json}}
</pre>
